.newPost,
.awards,
.form {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.awardsWrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.newPost {
  max-width: 800px;
  margin: auto;
}


