.progressWrapper,
.progress {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.progress {
  gap: 10px;
}

.progressHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}